@import "main.css";

.container {
    width: auto;
    height: 100%;
    border-radius: 30pt;
    overflow: hidden;
    padding-top: 30px;
}

.date {
    height:110px;
    width: 100%;
    position: relative;
}

.date__container {
    position: absolute;
    top: 0;
    left: 0;
    height:110px;
    transition: .5s linear;
    background: rgb(255,255,255);
    box-shadow: -5px 0 33px 10px rgba(255,255,255, 1),5px 0 33px 10px rgba(255,255,255, 1);
}

.date__wrapper {
    position: relative;
    width: auto;
    height: 100%;
    display: flex;
    background: rgb(255,255,255);
    box-shadow: -3px 0 5px 7px rgba(255,255,255, 1),3px 0 5px 7px rgba(255,255,255, 1);
}

.week_day {
    text-align: center;
}


.week_day p {
    font-size: 34px;
    margin: 0;
}

.week_day .day {
    font-size: 23px;
}

.month_wrapper {
    border: 1.5pt solid rgba(3, 201, 169, 1);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    padding: 10px;
    margin: 0 auto;
}
.date_left_today, .date_right_today{
    position: absolute;
    top: calc( 50% - 45px / 2 );
}
.date_left_today{
    left: 13%;
}
.date_right_today{
    right: 13%;
}
.date_today{
    border-radius: 50%;
    box-shadow: 0 0 20px 4px rgba(3, 201, 169, 1) ;
}
.toDoit{
    position: absolute;
    top: -49px;
    left: calc(50% - 58px / 2);
    font-weight: bold;
    color: rgba(3, 201, 169, 1);

}
@media (min-width: 415px) {
    .todo {
        box-shadow: 0 33px 70px 20px rgba(0, 0, 0, 0.45);
        max-width: 375px;
        margin: 10px auto;
        border-radius: 40pt;
    }

    .mobile {
        position: relative;
        box-sizing: border-box;
        background-color: white;
        width: 100%;
        max-width: 375px;
        height: 755px;
        border-radius: 40pt;
        border: 13.5px solid black;
        box-shadow: 0 0 0 1.6px rgba(247, 202, 24, .9);
    }

    .mobile__forelock {
        box-sizing: border-box;
        position: absolute;
        top: -2px;
        left: calc(50% - (202px / 2));
        background-color: black;
        height: 31px;
        width: 202px;
        border-bottom-left-radius: 20pt;
        border-bottom-right-radius: 20pt;
        z-index: 100;
    }

    .mobile__forelock:before {
        content: '';
        position: absolute;
        top: -4px;
        left: -12px;
        background: transparent;
        height: 6px;
        width: 13px;
        border-right: 4px solid black;
        border-top: 6px solid black;
        border-top-right-radius: 10px;
    }

    .mobile__forelock:after {
        content: '';
        position: absolute;
        top: -4px;
        right: -12px;
        background: transparent;
        height: 6px;
        width: 13px;
        border-left: 4px solid black;
        border-top: 6px solid black;
        border-top-left-radius: 10px;
    }

    .mobile__volume {
        position: absolute;
        left: -17px;
        top: 100px;
        background-color: black;
        height: 35px;
        width: 5px;
        border-radius: 5px;
    }

    .mobile__volume_up {
        position: absolute;
        left: -17px;
        top: 170px;
        background-color: black;
        height: 70px;
        width: 5px;
        border-radius: 5px;
    }

    .mobile__volume_down {
        position: absolute;
        left: -17px;
        top: 250px;
        background-color: black;
        height: 70px;
        width: 5px;
        border-radius: 5px;
    }

    .mobile__lock {
        position: absolute;
        right: -17px;
        top: 180px;
        background-color: black;
        height: 110px;
        width: 5px;
        border-radius: 5px;
    }
}

@media (max-width: 414px) {
    .container {
        border-radius: 0;
    }
}

